

 .product div
{	border:1px solid #dbd7d9;
	border-radius: 5px;	
	background: #fff;
} 
.product div:hover{
	transform: scale(1.05);
}
.product img
{
	width: 171px;
	height: 171px;
	display:block;
	margin:auto;
}
.product p
{	
	margin: 10px 0px 5px 10px;
	height: 75px;
	font-size: 13px;
}
.product h2{
	font-size: 14px;
	height: 32px;
	line-height: 16px;
	
}
.product b
{
	color: red;
}
#dh{
	text-align: center;
	color: rgb(246, 206, 7);
	font-weight: bold;
	text-shadow: 5px 5px 5px #000;
}
.product h2
{		
	text-align:center;
	color: rgb(147, 138, 138);
}
.product .add-cart
{
	display:block;			
	margin:4;
	padding:3;	
	width:100%;		
	text-align:center;
	line-height: 2;
}
#check-in{
    width: 10px;
    padding: 5px 12px;
    margin: 9px 2px -1px 6px;
    background-color: #cddc39;
    color: #fff;
    text-align: center;
}
article .logo{
	margin: 12px 0 16px;
	text-align: center;		
}
.lg{
	border: 3px solid #0dea57;
	border-radius: 100px;
}
#lnv{
	margin: 0 20px;
}
.add-cart input{
	height: 30px;
	width: 70px;
}
